@import "helpers/reset";
@import "helpers/variables";
@import "helpers/fonts";
@import "helpers/timeline";
@import "helpers/menu-mobile";
@import "helpers/form";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.valign-container {
  .valign-guide {
    position: relative;
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -1px;
  }
  .valign-element {
    display: inline-block;
    vertical-align: middle;
  }
}

body {
  font-family: 'SourceSansPro Light', sans-serif;
  font-size: 16px;
  background-color: #eee;
  &.menu-open {
    overflow: hidden;
  }
}

strong {
  font-family: 'SourceSansPro Bold';
}

i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  &.timeline-icon {
    margin-top: -4px;
    margin-left: -4px;
    color: $color6;
  }
}

[data-icon] {
  &:before {
    content: attr(data-icon);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;  /* Preferred icon size */
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: absolute;
    left: 0;
    top: 14px;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250,250,250,0.9);
  text-align: center;
  z-index: 1000;
  .vid-box {
    width: 800px;
    height: 450px;
    position: relative;
    display: none;
  }
  .close-vid {
    cursor: pointer;
    position: absolute;
    top: -42px;
    right: -42px;
    i {
      font-size: 42px;
      color: #ff1656;
    }
  }
  .modal-msg {
    font-size: 30px;
    color: $color1;
    font-weight: bold;
    line-height: 1.2;
    width: 90%;
  }
}

.linkedin-icon {
  display: block;
  background-image: url(/resource/img/logo_in_nav_44x36.png);
  width: 32px;
  height: 26px;
  vertical-align: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: 75px;
}

.linkedin-link {
  color: #333 !important;
  font-size: 25px;
  position: relative;
  display: block;
  float: right;
  margin-right: 33px;
}

@import "screen-big";
@import "screen-small";